h1 {
    color: blue;
    }
    /*especificidad 1*/
    .content h1 {
    color: green;
    }
    /* especificidad .content h1 11*/
    #main h1 {
    color: red;
    }
/*especificidad #main h1 101 */